# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spigot-plugins\discord-integration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/discord.xml
